* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color: #5b37b7;
}

.menu {
    width: 380px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 0 0 30px 30px;
    margin: 5% auto;
    box-shadow: 0px 3px 5px 2px rgba(43, 43, 43, 0.25098039215686274);
}

ul {
    list-style: none;
    margin: 30px 30px;
    width: 320px;
    float: left;
}

li {
    display: inline-block;
 
}

li a {
    text-decoration: none;
    display: block;
    position: relative;
    width: 60px;
    height: 40px;
    padding: 9px 10px;
    box-sizing: border-box;
    border-radius: 30px;
}

li a i {
    font-size: 24px;
    position: relative;
    left: 9px;
    transition: .2s;
    color: #000000;
}

li a:active {
    color: #1200ee;
}

li a span {
    position: absolute;
    visibility: hidden;
    right: -15px;
    font-weight: 500;

}
li a.active{
    width:120px;
}
li a.active i {
    left: 8px;
}

li a.active span {
    visibility: visible;
    right: 20px;
    transition: .4s;
}

.home.act {
    background-color: #ded7f3;
    color: #5b37b7;
}

.home.act i {
    color: #5b37b7;
}

.like.act {
    background-color: #f6d6ed;
    color: #c53a98;
}

.like.act i {
    color: #c53a98;
}

.search.act {
    background-color: #fbefd3;
    color: #e6a91a;
}

.search.act i {
    color: #e6a91a;
}

.profile.act {
    background-color: #d1ebef;
    color: #1094aa;
}

.profile.act i {
    color: #1094aa;
}

footer{
    width:100%;
    padding:10px;
    text-align: center;
    color:#ffffff;
    font-size:16px;
}

footer a{
    color:#ffffff;
    text-decoration:none;
    margin:0 5px;
}